.module-main-div {
  padding: 20px;
}
#module-title-div {
  display: flex;
  align-items: center;
}
.module-title {
  font-size: 1.5rem;
  margin-left: 10px;
}
.module-inner-div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#addProduct-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ant-input {
  height: 45px;
}
#addProduct-save-btn {
  height: 45px;
  width: 100px;
}
